html{ height:100%; }
body {font-family: 'Roboto', sans-serif;min-height:100%;position:absolute;left:0;right:0;;padding:0;margin:0;}
body::after {content: '';display: block;height: 33px;}
a {text-decoration: none;text-decoration-color: inherit;color: inherit;}
.t_l {text-align: left !important;}
.t_r {text-align: right !important;}
.t_c {text-align: center !important;}
.container {position: relative;width: 817px;margin: 20px auto 0 auto;}
.og {text-decoration: underline;text-decoration-style: dotted;font-size: 12px;line-height: 14px;color: #5f5f5f;}
.noposter {height: 32px;width: 20px;border: 1px solid gainsboro;font-size:6px;text-align: center;}
.noposter span {margin-top: 7px;display: block;}
.language {text-transform: capitalize;}
.search_container {width:817px;margin-bottom: 20px;}
.no_results, .not_found {color: #777;font-style: italic;padding-top: 2px;}
.showing_results {min-width:200px;color: #777;font-style: italic;padding-top: 2px;border: 0 !important;padding-top: 10px !important;font-size: 12px !important;}
.pages {color: #777;padding-top: 2px;border: 0 !important;padding-top: 10px !important;font-size: 12px !important;letter-spacing: 2px;}
.pages .current_page {color: #5a391d;text-decoration: underline;cursor: default;}
.pages .change_page:hover {cursor: pointer;color:#17a3f5;text-decoration: underline;text-decoration-color: #17a3f5;}
.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.detailed {font-size: 16px;text-align: center;font-weight: 100;}
.switch_container {float: right;}
.switch_label {display: inline-block;font-size: 13px;line-height: 13px;margin-top: -6px;vertical-align: middle;color: #777;}
.switch {margin-top:5px;position: relative;display: inline-block;width: 30px;height: 17px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 13px;width: 13px;left: 2px;bottom: 2px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #5a391d;}
input:focus + .slider {box-shadow: 0 0 1px #5a391d;}
input:checked + .slider:before {-webkit-transform: translateX(13px);-ms-transform: translateX(13px);transform: translateX(13px);}
.slider.round {border-radius: 17px;}
.slider.round:before {border-radius: 50%;}
.link_btn {cursor: pointer;}
.link_btn a {color:#17a3f5}
.link_btn:hover a{text-decoration: underline;text-decoration-color: #17a3f5;}
.link_btn span {font-weight: 400;}
.search_input {font-family: 'Roboto', sans-serif;display:inline-block;margin-top: 15%;font-weight:100;height: 35px;padding: 5px 10px;width: 730px;font-size: 15px;border: 1px solid #dcdcdc}
input:focus{outline: none}
.search_results {margin-top:40px;padding-bottom: 40px;width:817px}
.search_results table {width: 100%;border-collapse: collapse;}
.search_results table th:first-of2-type {width: 30px}
.search_results table th {font-weight: 400;font-size: 11px;border-bottom: 1px solid #dcdcdc;line-height: 20px;}
.search_results table td {font-size: 13px;padding:2px 0;border-bottom: 1px solid #f5f5f5;vertical-align: top;font-weight: 100;}
.search_results .title {max-width: 450px;}
.search_results .release_date {white-space: nowrap;}
.search_results .poster {padding-right: 5px;}
.container .logo_container {width: 400px;margin: auto;margin-top:15%}
.container .logo_container .logo {font-family: 'Cormorant Garamond', serif;text-align: center;font-size: 45px;}
.container .logo_container .logo span {font-weight: 400;color:#5a391d}
.footer {position: absolute;bottom: 0;left: 0;right: 0;background-color: gainsboro;color: #888;font-size: 11px;padding: 10px;font-weight: 100;}
.poster_zoom {position: absolute;transform: translate(5%, -50%);}
.poster_zoom img {height: 400px;}
.search_button {font-family: 'Roboto', sans-serif;font-weight:100;cursor:pointer;border: 1px solid gainsboro;background-color: #fff;padding: 10px 10px;line-height: 25px;display: inline-block;margin-left: -5px;vertical-align: bottom;}
.search_button:hover {background-color: #f3f3f3;}
.search_button:active {background-color: #dcdcdc;}

@media only screen and (max-width: 824px) {
   .container {width: 400px}
   .search_input {width: 316px;}
}
